<footer>
  <div class="text">Copyright &copy; 2025 by Merab Samkharadze</div>
  <div class="icons">
    <div>
      <a href="https://github.com/MerabSamkharadze" target="_blank"
        ><img
          src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
          alt="github-logo"
      /></a>
    </div>
    <div>
      <a
        href="https://www.linkedin.com/in/merab-samkharadze-15301b131 "
        target="_blank"
        ><img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/2048px-LinkedIn_icon.svg.png"
          alt="linkedin-logo"
      /></a>
    </div>
  </div>
</footer>
