<footer>
  <div class="text">Copyright &copy; 2025 by Merab Samkharadze</div>
  <div class="icons">
    <a
      href="https://github.com/MerabSamkharadze"
      target="_blank"
      aria-label="GitHub"
    >
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Github-desktop-logo-symbol.svg/2048px-Github-desktop-logo-symbol.svg.png"
        alt="GitHub logo"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/merab-samkharadze-15301b131"
      target="_blank"
      aria-label="LinkedIn"
    >
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/960px-LinkedIn_logo_initials.png"
        alt="LinkedIn logo"
      />
    </a>
  </div>
</footer>
