:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
  background-color: #1d283f;
  color: #f9fafb;

  .logo-place img {
    width: 60px;
    height: auto;
    object-fit: contain;
  }

  .timer-place {
    background-color: #161e29;
    padding: 8px 16px;
    border-radius: 8px;
    font-family: "Courier New", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.264);

    p {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  @media (max-width: 1024px) {
    padding: 8px 16px;

    .logo-place img {
      width: 50px;
    }

    .timer-place {
      padding: 4px 8px;
      font-size: 10px;
    }
  }
}
