.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  &__header {
    width: 100%;
    height: 10vh;
    background-color: #e6fbdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  &__body {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &--navigation {
      max-width: 100px;
      width: 100%;
      height: 100%;
      background-color: #f9f3de;
    }
    &--content {
      width: 100%;
      height: 100%;
      background-color: aquamarine;
      overflow-y: auto;
    }
  }
  &__footer {
    width: 100%;
    height: 10vh;
    background-color: #e6fbdf;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
